In [2]:
import pandas as pd

In [3]:
d=pd.read_csv('pima-indians-diabetes.csv', header=None)

In [6]:
d.head(n=7)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1
5  5  116  74   0    0  25.6  0.201  30  0
6  3   78  50  32   88  31.0  0.248  26  1

In [7]:
print((d[[1,2,3,4,5,6,7]] == 0).sum())

1      5
2     35
3    227
4    374
5     11
6      0
7      0
dtype: int64

In [4]:
d5=d[[1,2,3,4,5]] ## focus on the first 5 columns

In [5]:
d5.head()

     1   2   3    4     5
0  148  72  35    0  33.6
1   85  66  29    0  26.6
2  183  64   0    0  23.3
3   89  66  23   94  28.1
4  137  40  35  168  43.1

In [6]:
import numpy as np

In [8]:
# mark zero values as missing or NaN
d5[[1,2,3,4,5]] = d5[[1,2,3,4,5]].replace(0, np.NaN)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [9]:
d5.head()

       1     2     3      4     5
0  148.0  72.0  35.0    NaN  33.6
1   85.0  66.0  29.0    NaN  26.6
2  183.0  64.0   NaN    NaN  23.3
3   89.0  66.0  23.0   94.0  28.1
4  137.0  40.0  35.0  168.0  43.1

In [10]:
from fancyimpute import KNN, NuclearNormMinimization, SoftImpute, IterativeImputer, BiScaler
## pip install fancyimpute

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

Using TensorFlow backend.

In [12]:
from fancyimpute import KNN

#### kNN: Nearest neighbor imputations which weights samples using the mean squared difference on features for which two rows both have observed data.

#### The assumption behind using KNN for imputing missing values is that a point value can be approximated by the values of the points that are closest to it, based on other variables.

In [14]:
d5_imp = pd.DataFrame(KNN(k=5).fit_transform(d5))
### Use 3 nearest rows which have a feature to fill in each row's missing features

Imputing row 1/768 with 1 missing, elapsed time: 0.198
Imputing row 101/768 with 2 missing, elapsed time: 0.202
Imputing row 201/768 with 1 missing, elapsed time: 0.206
Imputing row 301/768 with 3 missing, elapsed time: 0.211
Imputing row 401/768 with 2 missing, elapsed time: 0.215
Imputing row 501/768 with 0 missing, elapsed time: 0.222
Imputing row 601/768 with 1 missing, elapsed time: 0.227
Imputing row 701/768 with 0 missing, elapsed time: 0.236

#### NuclearNormMinimization: Simple implementation of Exact Matrix Completion via Convex Optimization by Emmanuel Candes and Benjamin Recht using cvxpy. Too slow for large matrices

In [15]:
d5_nn= pd.DataFrame(NuclearNormMinimization().fit_transform(d5))

----------------------------------------------------------------------------
	SCS v2.0.2 - Splitting Conic Solver
	(c) Brendan O'Donoghue, Stanford University, 2012-2017
----------------------------------------------------------------------------
Lin-sys: sparse-direct, nnz in A = 324727
eps = 1.00e-05, alpha = 1.50, max_iters = 50000, normalize = 1, scale = 1.00
acceleration_lookback = 20, rho_x = 1.00e-03
Variables n = 306831, constraints m = 314511
Cones:	primal zero / dual free vars: 3840
	linear vars: 11520
	sd vars: 299151, sd blks: 1
Setup time: 7.29e-01s
----------------------------------------------------------------------------
 Iter | pri res | dua res | rel gap | pri obj | dua obj | kap/tau | time (s)
----------------------------------------------------------------------------
     0| 7.19e+21  7.38e+21  1.00e+00 -5.52e+26  1.07e+26  9.47e+25  1.89e+00
   100| 4.10e-05  7.12e-05  7.59e-06  8.24e+03  8.24e+03  5.39e-13  8.19e+01
   200| 6.05e-05  7.83e-05  1.25e-06  8.24e+03  8.24e+03  2.75e-12  1.33e+02
   300| 5.47e-05  7.00e-05  1.71e-05  8.24e+03  8.24e+03  3.49e-12  1.82e+02
   400| 2.24e-04  2.97e-04  1.41e-06  8.24e+03  8.24e+03  1.90e-12  2.30e+02
   500| 2.25e-05  2.91e-05  1.35e-06  8.24e+03  8.24e+03  5.62e-12  2.75e+02
   520| 4.31e-06  6.04e-06  1.35e-06  8.24e+03  8.24e+03  4.73e-12  2.84e+02
----------------------------------------------------------------------------
Status: Solved
Timing: Solve time: 2.84e+02s
	Lin-sys: nnz in L factor: 949257, avg solve time: 7.09e-03s
	Cones: avg projection time: 4.39e-01s
	Acceleration: avg step time: 8.02e-02s
----------------------------------------------------------------------------
Error metrics:
dist(s, K) = 4.6573e-02, dist(y, K*) = 3.7561e-02, s'y/|s||y| = 3.1641e-12
primal res: |Ax + s - b|_2 / (1 + |b|_2) = 4.3080e-06
dual res:   |A'y + c|_2 / (1 + |c|_2) = 6.0384e-06
rel gap:    |c'x + b'y| / (1 + |c'x| + |b'y|) = 1.3461e-06
----------------------------------------------------------------------------
c'x = 8242.6113, -b'y = 8242.5891
============================================================================

In [30]:
d7_nn.head()

       0     1     2      3     4
0  148.0  72.0  35.0    0.0  33.6
1   85.0  66.0  29.0    0.0  26.6
2  183.0  64.0   0.0    0.0  23.3
3   89.0  66.0  23.0   94.0  28.1
4  137.0  40.0  35.0  168.0  43.1