In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
e = pd.read_csv('ebola.csv')
e.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [18]:
e['Country'].unique()

array(['Guinea', 'Liberia', 'Sierra Leone', 'United Kingdom', 'Mali',
       'Nigeria', 'Senegal', 'Spain', 'United States of America', 'Italy',
       'Liberia 2', 'Guinea 2'], dtype=object)

In [19]:
e.dtypes

Indicator     object
Country       object
Date          object
value        float64
dtype: object

### change to "Time" format

In [20]:
e['Date'] = e['Date'].apply(pd.to_datetime)## convert to date time

In [21]:
e.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [22]:
e = e.sort_values(by='Date') ## ascending

In [23]:
e.head()

,Indicator,Country,Date,value
5134,Cumulative number of confirmed Ebola deaths,Guinea,2014-08-29,287.0
5113,"Number of confirmed, probable and suspected Eb...",Sierra Leone,2014-08-29,331.0
5114,Number of confirmed Ebola cases in the last 21...,Nigeria,2014-08-29,6.0
5115,Number of probable Ebola cases in the last 21 ...,Nigeria,2014-08-29,1.0
5116,Number of suspected Ebola cases in the last 21...,Nigeria,2014-08-29,3.0

In [24]:
date0 = e['Date'].min()

In [12]:
date0

Timestamp('2014-08-29 00:00:00')

#### number of days since start

In [25]:
e['Start'] = e['Date'].apply(lambda date: (date - date0).days)
e.head()

,Indicator,Country,Date,value,Start
5134,Cumulative number of confirmed Ebola deaths,Guinea,2014-08-29,287.0,0
5113,"Number of confirmed, probable and suspected Eb...",Sierra Leone,2014-08-29,331.0,0
5114,Number of confirmed Ebola cases in the last 21...,Nigeria,2014-08-29,6.0,0
5115,Number of probable Ebola cases in the last 21 ...,Nigeria,2014-08-29,1.0,0
5116,Number of suspected Ebola cases in the last 21...,Nigeria,2014-08-29,3.0,0