# Column Conversion

### Remove dollar and comma signs

In [1]:

import pandas as pd

In [9]:
data = [['Alex','$12'],['Bob','$15'],['Clarke','$17']]
df = pd.DataFrame(data,columns=['Name','Allowance'])
print (df)

     Name Allowance
0    Alex       $12
1     Bob       $15
2  Clarke       $17

In [10]:
df['Allowance'].describe()

count       3
unique      3
top       $12
freq        1
Name: Allowance, dtype: object

In [11]:
df['Allowance'] = df['Allowance'].map(lambda value: value.replace('$',''))
## replace $

In [12]:
df.head()

     Name Allowance
0    Alex        12
1     Bob        15
2  Clarke        17

In [13]:
df['Allowance'].describe()

count      3
unique     3
top       17
freq       1
Name: Allowance, dtype: object

### Convert to float

In [14]:
df['Allowance'] = df['Allowance'].astype(float)

In [15]:
df['Allowance'].describe()

count     3.000000
mean     14.666667
std       2.516611
min      12.000000
25%      13.500000
50%      15.000000
75%      16.000000
max      17.000000
Name: Allowance, dtype: float64