In [1]:
import pandas as pd

In [4]:
sp1=pd.read_csv("StudentsPerformance.csv")

In [5]:
sp1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### change column names while reading in the data

In [6]:
new_columns= ['Gender', 'Race', 'Parental_Edu', 'Lunch', 'Tution', 'Maths', 'Reading','Writing']

sp2=pd.read_csv("StudentsPerformance.csv",names=new_columns)

In [7]:
sp2.head()

,Gender,Race,Parental_Edu,Lunch,Tution,Maths,Reading,Writing
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44

### we can also change the column names after reading in the data

In [8]:
sp2.rename(columns={'Tution':'Coaching_Received', 'Math':'Mathematics'}, inplace=True)

## original column name: new name

In [9]:
sp2.columns

Index(['Gender', 'Race', 'Parental_Edu', 'Lunch', 'Coaching_Received', 'Maths',
       'Reading', 'Writing'],
      dtype='object')

In [10]:
sp2.head()

,Gender,Race,Parental_Edu,Lunch,Coaching_Received,Maths,Reading,Writing
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44